<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shuhan.mapper.UserMapper">
    <select id="listUser" resultType="com.shuhan.model.User">
        select * from t_ps_order_qr
    </select>
</mapper>